macro_kinesis: macro_kinesis {
    compatible = "zmk,behavior-macro";
    label = "macro_kinesis";
    #binding-cells = <0>;
    wait-ms = <40>;
    tap-ms = <40>;
    bindings
            = <&macro_press &kp LCTRL>
            , <&macro_press &kp LALT>
            , <&macro_tap &kp HOME>
            , <&macro_wait_time 500>
            , <&macro_release &kp LALT>
            , <&macro_press &kp LEFT_WIN>
            , <&macro_tap &kp LEFT>
            , <&macro_release &kp LEFT_WIN>
            , <&macro_release &kp LCTRL>
  ;
};
