macro_kinesis: macro_kinesis {
    compatible = "zmk,behavior-macro";
    label = "macro_kinesis";
    #binding-cells = <0>;
    wait-ms = <40>;
    tap-ms = <40>;
    bindings
            = <&macro_press &kp LCTRL>
  ;);
